* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.sidebar {
  color: white;
  background-color: #0284c7;
  height: 100%;
  display: grid;
  grid-template: 0.5fr 2fr 2fr/1fr;
  text-align: center;
  padding-top: 1em;
}
.main-content {
  color: black;
  background-color: white;
  display: grid;
  grid-template: auto/1.5fr 1.5fr 1fr;
  grid-template-areas:
    "one one one"
    "two two three"
    "two two three"
    "two two four";
}
.header {
  grid-area: one;
  background-color: rgb(255, 255, 255);
}
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.75rem;
  padding-bottom: 1rem;
}
.dashboardicon {
  width: 3rem;
}
.sidecontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-left: 10%;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
}
.sidecontent:hover {
  background-color: #01699c;
}
.sideicons {
  width: 1.5rem;
}
.headerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  img {
    height: 2rem;
  }
  .headerSearch {
    flex: 1;
    justify-content: start;
    display: flex;
    gap: 1rem;
    padding-left: 2rem;
  }
  .headerIcons {
    display: flex;
    flex: 0.64;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  input {
    background-color: #dddeeb;
    font-size: 1rem;
    padding: 0rem 1rem;
    border-radius: 2rem;
    outline: none;
    border: 1.75px solid #ffffff;
    width: 90%;
    min-width: 10rem;
  }
}
#smallerIcons {
  width: 1.5rem;
}
.headerBottom {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 0 1rem 2rem;
  gap: 30%;


  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  img {
    width: 3rem;
  }
  .headerIntro {
    display: flex;
    align-items: center;
    gap: 1rem;
    #smallP {
      font-size: 0.75rem;
      font-weight: 600;
    }
    #bigP {
      font-size: 1.25rem;
      font-weight: 800;
    }
  }
  .headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  button {
    background-color: #0284c7;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #02547e;
  }
}
.projectContainer {
  background-color: #dddeeb;
  grid-area: two;
  .projects {
    display: grid;
    grid-template: auto/ 1fr 1fr;
    padding-bottom: 2rem;
  }
}
.projectCards {
  background-color: #fff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    orange 1.75%,
    rgba(0, 0, 0, 0) 1.75%
  );
  padding: 1.5rem 1rem 1rem 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  #cardTitle {
    font-weight: 600;
  }
  img {
    width: 1.5rem;
  }
  .projectIcons {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-top: 1rem;
  }
}
.projectCards:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}
.annoucementContainer {
  grid-area: three;
  background-color: #dddeeb;
  .announcements {
    background-color: #dddeeb;
    padding: 1rem;
    display: grid;
    grid-template: auto/1fr;
    padding-bottom: 2rem;
    .announcementCard {
      background-color: #fff;
      padding: 1rem 1rem 1rem 1.5rem;
      border-radius: 5px;
    }
    #cardTitle {
      font-weight: 600;
    }
  }
}
.trendingContainer {
  grid-area: four;
  background-color: #dddeeb;
  img {
    width: 3rem;
  }
  .trendingContainerCards {
    background-color: #dddeeb;
    padding: 1rem;
    display: grid;
    grid-template: auto/1fr;
    padding-bottom: 2rem;
    border-radius: 5px;
    .trendingCards {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 1rem 1rem 1rem 1.5rem;
    }
    .trendingCards:hover {
      background-color: rgb(240, 236, 236);
    }
  }
}

.cardTitle{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 0 0 2rem;
  font-weight: 600;
}